<p class="text-center">If you have come till here, it's either you want to know more about me or
  just accidently landed. In either case, I would like to say one thing before you proceed further.</p>
<img src="../assets/CoverPage.JPG" class="rounded mx-auto d-block" alt="Profile Picture" width="500" height="350">
<p class="text-center">Welcome to my blog!!!!<br>This is Namburi GNVV Satya Sai Srinath, from
  Vijayawada, Andhra Pradesh, India.<br>
  I have completed BTech in ECE, NIT Calicut. Am a movie buff, foodie and love reading books in free time. Along with
  these, I do projects and study (which I like to do most of the time). I love things to be simple
  (which can be observed from
  this blog appearance/plain CSS). Browse the site and I am happy to discuss/help
  on any topic that I am comfortable with. Connect in any platform and start with "Howdy"!!
</p>
<h4>&nbsp;Links</h4>
<div id="references">
  &nbsp;
  <a href="https://github.com/NamburiSrinath"><img src="../assets/github.png" width="25" height="25">&nbsp;(Code
    sources)</a><br>
  &nbsp;
  <a href="https://www.linkedin.com/in/namburi-gnvv-satya-sai-srinath/"><img src="../assets/linkedin.jfif" width="25"
      height="25">&nbsp;(Networking)</a><br>
  &nbsp;
  <a href="https://www.goodreads.com/user/show/103284004-srinath"><img src="../assets/goodreads.png" width="25"
      height="25">&nbsp;(I update my book list here.)</a><br>
  &nbsp;
  <a href="https://medium.com/@namburisrinath"><img src="../assets/medium.png" width="25" height="25">&nbsp;(I write my
    blogs here.)</a><br>
  &nbsp;
  <a href="https://www.facebook.com/srinath.namburi"><img src="../assets/facebook.png" width="25" height="25">&nbsp;(I
    use it less often)</a><br>
  <a href="../../assets/CV-SatyaSaiSrinath-NamburiGNVV.pdf">&nbsp;&nbsp;Resume/CV</a>
</div>
