<h4>Here, I share things that I found interesting and the channels I follow. It can be of any topic from philosophy to poetry, math to
  music, science to religion ...</h4>

<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Zen kōans: unsolvable enigmas designed to break your brain - Puqun Li</h4>
      <p class="card-text" style="text-align: justify;">How do we explain the unexplainable? This question has inspired
        numerous myths, religious practices and scientific inquiries. But Zen Buddhists practicing throughout China from
        the 9th to 13th century asked a different question – why do we need an explanation? Puqun Li details the
        bewildering and ambiguous philosophical thought experiments these Buddhists called Zen kōans. </p>
      <p class="card-text"><b><i>#Philosophy #Lifestyle #Buddhism</i></b></p>
      <a href="https://www.youtube.com/watch?v=9p5Oi4wPVVo&list=FL_JFAqwwRqWc695NzWr1fOA&index=2&t=0s"
        class="btn btn-primary">Video Link</a>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">What If: YouTube Channel I Subscribed</h4>
      <p class="card-text" style="text-align: justify;">What If: These two simple words are the spark that has ignited
        countless theories, discoveries, and inventions. Most of what we know about ourselves and the universe is
        because someone, somewhere, at some time asked themselves “What if?” Join us on an imaginary adventure —
        grounded in scientific theory — through time, space and chance, as we ask what if some of the most fundamental
        aspects of our existence were different. </p>
      <p class="card-text"><b><i>#YouTube Channel #theories</i></b></p>
      <a href="https://www.youtube.com/channel/UCphTF9wHwhCt-BzIq-s4V-g/featured" class="btn btn-primary">Channel
        Link</a>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Filmy Geeks: YouTube Channel I Subscribed</h4>
      <p class="card-text" style="text-align: justify;">Filmy Geeks is a channel which discusses about various movies,
        techniquies in movies, story lines and film appreciation. Apt for movie lovers. Discusses mostly HollyWood
        movies </p>
      <p class="card-text"><b><i>#YouTube Channel #Movies #TeluguChannel</i></b></p>
      <a href="https://www.youtube.com/channel/UCqkQzjePM64LtMOWzShh_SQ" class="btn btn-primary">Channel Link</a>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Chess Talk: YouTube Channel I Subscribed</h4>
      <p class="card-text" style="text-align: justify;">Chess Talk is a Youtube channel which says about various
        tactics/tips and tricks to be followed in Chess. </p>
      <p class="card-text"><b><i>#YouTube Channel #Chess</i></b></p>
      <a href="https://www.youtube.com/channel/UCqkQzjePM64LtMOWzShh_SQ" class="btn btn-primary">Channel Link</a>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">minutephysics: YouTube Channel I Subscribed</h4>
      <p class="card-text" style="text-align: justify;">This tries to explain most of the physics concepts in less than
        2 minutes. Deals with real world cases and the graphics is awesome. </p>
      <p class="card-text"><b><i>#YouTube Channel #Physics</i></b></p>
      <a href="https://www.youtube.com/channel/UCUHW94eEFW7hkUMVaZz4eDg" class="btn btn-primary">Channel Link</a>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">3Blue1Brown: YouTube Channel I Subscribed</h4>
      <p class="card-text" style="text-align: justify;">This explains many mathematical conundrums with the hep of
        animations. Excellent recommendation for mathlovers out there</p>
      <p class="card-text"><b><i>#YouTube Channel #Maths</i></b></p>
      <a href="https://www.youtube.com/channel/UCYO_jab_esuFRV4b17AJtAw" class="btn btn-primary">Channel Link</a>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Patriot Act: YouTube Channel I Subscribed</h4>
      <p class="card-text" style="text-align: justify;">Hasan Minhaj takes a dig at most of the social contraversial
        issues and portrays it in beautiful style.</p>
      <p class="card-text"><b><i>#YouTube Channel #Netflix #Perspective #VariousTopics</i></b></p>
      <a href="https://www.youtube.com/channel/UCarEovlrD9QY-fy-Z6apIDQ" class="btn btn-primary">Channel Link</a>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Jay Shetty: YouTube Channel I Subscribed</h4>
      <p class="card-text" style="text-align: justify;">A motivational speaker and a former monk, he sheds light on
        personality development.</p>
      <p class="card-text"><b><i>#YouTube Channel #Relations #Love #Motivation #PersonalityDevelopment</i></b></p>
      <a href="https://www.youtube.com/channel/UCbV60AGIHKz2xIGvbk0LLvg/featured" class="btn btn-primary">Channel Link</a>
    </div>
  </div>
</div>
