<h4 class = "ml-4">For the list of books I read, do check in <a
    href="https://www.goodreads.com/user/show/103284004-srinath">GoodReads.</a> I try to update as frequent as possible
</h4>
<br>
<h4 class = "ml-4">Blog posts (Compiled list in <a href="https://medium.com/@namburisrinath">Medium</a>)</h4>
<div class="row ml-3 mr-3 mb-2">
<div class="col-sm-6 lg-6">
  <div class="card">
    <!--<img class="card-img-top" src='../../assets/how_to.jpeg' alt="Coverpage of book titled 'How to'">-->
    <div class="card-body">
      <h4 class="card-title">Jagriti Yatra</h4>
      <p class="card-text" style="text-align: justify;">Recently I've been to a program called Jagrithiyatra where I
        traveled about 8000 kms from 24th Dec 2019 to 8th Jan 2020. Here I consolidate my experiences from Jagrithiyatra
        2019 in a 5 part series blog.</p>
      <p class="card-text"><b><i>#overview #leadership #JagritiYatra #TrainJourney #India #enterprise #thoughts
            #entrepreneurship #networking #innovation #marketing #startup #travel</i></b></p>
      <a href="https://medium.com/@namburisrinath/jagrithiyatra-the-moving-home-4ecf7272cb2c" class="btn btn-primary">Part 0</a>&nbsp;
      <a href="https://medium.com/@namburisrinath/bon-voyage-part-1-6fdd0d3221d2" class="btn btn-primary">Part 1</a>&nbsp;
      <a href="https://medium.com/@namburisrinath/bon-voyage-part-2-33cc5bdaf5d7" class="btn btn-primary">Part 2</a>&nbsp;
      <a href="https://medium.com/@namburisrinath/bon-voyage-part-3-9c3be3d44797" class="btn btn-primary">Part 3</a>&nbsp;
      <a href="https://medium.com/@namburisrinath/bon-voyage-part-4-48dd3978695c" class="btn btn-primary">Part 4</a>&nbsp;
      <div class = "mb-5"></div>
    </div>
  </div>
</div>


<div class="col-sm-6 lg-6">
  <div class="card">
    <!--<img class="card-img-top" src='../../assets/how_to.jpeg' alt="Coverpage of book titled 'How to'">-->
    <div class="card-body">
      <h4 class="card-title">Can you predict the weather from a photograph (without Machine Learning)</h4>
      <p class="card-text" style="text-align: justify;">During our childhood, we might have questions (crazy/stupid
        ones) which start with "How".
        Some of these will be technically answered in "How to" by Randall Munroe. To get a gist of this book, I have
        presented an excerpt from the book which talks about "How to predict weather from a photograph".</p>
      <p class="card-text"><b><i>#overview #books #predict #crazy #science #physics #thoughts #How_to #ideas
            #photography #weather #excerpt #recommendation #reads</i></b></p>
      <a href="https://medium.com/@namburisrinath/can-you-predict-the-weather-from-a-photograph-without-machine-learning-8e81751e9752"
        class="btn btn-primary">Read entire blog</a>
    </div>
  </div>
</div>
</div>

<div class="row ml-3 mr-3">
<div class="col-sm-6 lg-6">
  <div class="card">
    <!--<img class="card-img-top" src='../../assets/algorithms_to_live_by.jpeg' alt="Algorithms to liveby Coverpage">-->
    <div class="card-body">
      <h4 class="card-title">Algorithms to live by</h4>
      <p class="card-text" style="text-align: justify;">Have you ever felt the need to improve your decision-making
        skills? If so, this book might
        help you (unconventionally) which talks a lot about how computer science algorithms can be applied to
        real-world problems. <br><br>
        Here is a brief overview of "Algorithms to live by" by Brian and Tom.<br><br>
        <b>Note: </b> This book is not just for computer science students/engineers and it doesn't contain any
        intricate
        mathematics. So, anyone can go for it.</p>
      <p class="card-text"><b><i>#Decision making #Computers #Human #Algorithms #Overview #Mathematics
            #Problems #books</i></b></p>
      <a href="https://medium.com/datadriveninvestor/how-to-make-better-decisions-with-the-help-of-computers-524a177ddfe3"
        class="btn btn-primary">Read entire blog</a>
    </div>
  </div>
</div>

<div class="col-sm-6 lg-6">
  <div class="card">
    <!--<img class="card-img-top" src='../../assets/ikigai.jfif' alt="Ikigai coverpage">-->
    <div class="card-body">
      <h4 class="card-title">Ikigai — The Japanese secret to a long and happy life</h4>
      <p class="card-text" style="text-align: justify;">Have you ever felt any one of the following emotions<br><br>
        <li>What am I doing in my life? (As if you are in a labyrinth)</li>
        <li>Why am I doing this?</li>
        <li>Ahh!! When will I finish this work? I am not able to do it</li>
        <li>This is so boring. There is no point in doing this anymore</li>
        <li>Why should I get up today?</li>
        <li>I’ll work till 30, earn a lot and then retire and relax for the rest of my life</li>
        <li>Why does it happen all the time to me? My fate is very bad</li>
        If so, you might need to search for your “Ikigai”.
      </p>
      <p class="card-text"><b><i>#Happiness #Purpose #Life #Longevity #Healthy #Lifestyle #Overview #books
            #Japan</i></b></p>
      <a href="https://medium.com/@namburisrinath/ikigai-the-japanese-secret-to-a-long-and-happy-life-f255994893f8"
        class="btn btn-primary">Read entire blog</a>
    </div>
  </div>
</div>
</div>

<div class="row ml-3 mr-3">
<div class="col-sm-6 lg-6">
  <div class="card">
    <!--<img class="card-img-top" src='../../assets/metamorphosis.jfif' alt="Metamorphosis coverpage">-->
    <div class="card-body">
      <h4 class="card-title">The Metamorphosis</h4>
      <p class="card-text" style="text-align: justify;">During our childhood, almost everyone might have watched “Ben
        10” on Cartoon Network. It
        was absolute fun seeing those frivolous acts of Ben, especially when he gets stuck with some particular
        transformation. But have you ever wondered what are the consequences if you get transformed like that for some
        period of time? What if the transformation is permanent!!!</p>
      <p class="card-text"><b><i>#Sad #Life #Transformation #Modern Society #Alienating #Thoughts #Books
            #Fiction</i></b></p>
      <a href="https://medium.com/@namburisrinath/the-metamorphosis-63a1f13ae225" class="btn btn-primary">Read entire
        blog</a>
    </div>
  </div>
</div>

<div class="col-sm-6 lg-6">
  <div class="card">
    <!--<img class="card-img-top" src='../../assets/dystopiantomorrow.png' alt="Typical example of a dystopian society">-->
    <div class="card-body">
      <h4 class="card-title">A Dystopian Tomorrow</h4>
      <p class="card-text" style="text-align: justify;">Have you thought about the consequences your little habits might
        cause?</p>
      <p class="card-text"><b><i>#Fiction #Environment #Plastic #Pollution #Dystopia #Utopia #Future</i></b></p>
      <a href="https://medium.com/@namburisrinath/a-dystopian-tomorrow-2ff057a8fa37" class="btn btn-primary">Read
        entire
        blog</a>
    </div>
  </div>
</div>
</div>

<div class="row ml-3 mr-3">
<div class="col-sm-6 lg-6">
  <div class="card">
    <!--<img class="card-img-top" src='../../assets/subtleart.jpeg' alt="The subtle art of not giving a f*ck coverpage">-->
    <div class="card-body">
      <h4 class="card-title">The Subtle Art Of Not Giving A F*ck</h4>
      <p class="card-text" style="text-align: justify;">My thoughts/reflections and summary of the book.</p>
      <p class="card-text"><b><i>#Overview #Self Improvement #Self Help #books</i></b></p>
      <a href="https://medium.com/@namburisrinath/the-subtle-art-of-not-giving-a-f-ck-880a66cab012"
        class="btn btn-primary">Read entire blog</a>
    </div>
  </div>
</div>

<div class="col-sm-6 lg-6">
  <div class="card">
    <!--<img class="card-img-top" src='../../assets/monkferrari.jfif' alt="The monk who sold his ferrari coverpage">-->
    <div class="card-body">
      <h4 class="card-title">The monk who sold his ferrari</h4>
      <p class="card-text" style="text-align: justify;">My thoughts/reflections and summary of the book.</p>
      <p class="card-text"><b><i>#Overview #Self Improvement #Self Help #books</i></b></p>
      <a href="https://medium.com/@namburisrinath/sell-the-ferrari-for-new-year-resolution-3d8afb6edbd6"
        class="btn btn-primary">Read entire blog</a>
    </div>
  </div>
</div>
</div>
