<h3 class = "ml-4">Movies</h3>
<p class="text-justify ml-4">A movie buff, usually I watch Sci-fi, mystery, thrillers very much and am a big fan of
  Christopher Nolan ones. Apart
  from that I do follow IMDB, a few Oscar movies here and there. Most of the movies I watch are in Telugu, Tamil,
  Malayam, Hindi
  and English. A few Kannada and Marathi do exist here and there.</p>
<br><br>
<h3 class = "ml-4">Television Series </h3>
<h4 class = "ml-4">Recent Watches</h4>
<div class="row ml-3 mr-3">
  <div class="col-sm-6 lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Undone (English) - <i>(Thriller, Comedy-Drama)</i></h5>
        <p class="card-text" style="text-align: justify;">What if you got a chance to change something in the past?
          Would you like to go, change and have an exciting life, or stay in present mundane life?
          The story is about Alma, who gains some superpowers to do timetravel (In a wierd fashion),
          and tries to solve her father's murder mystery.
          They used <i>rotoscopy</i> technique which suits the plot and makes us more connected.
          Reminds something like inception and Steins gate.</p>
          <b>Favourite Dialogues:</b> <i> I am so bored of living. I wake up every morning in the same bed, I get dressed, I eat the same breakfast,
            and take the same commute to work. I am 28 yrs old and I am terrified this is all there is. (Opening scene)</i><br><br>
          <i>Try not to try-try</i><br>
        <p class="card-text"><b><i>#AmazonPrime</i></b></p>
        <a href="https://www.youtube.com/watch?v=6uWCNHQgfnc" class="btn btn-primary">Trailer</a>&nbsp;
      </div>
    </div>
  </div>

  <div class="col-sm-6 lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Breathe (Hindi) - <i>(Crime, Thriller )</i></h5>
        <p class="card-text" style="text-align: justify;">How far can you go to save your most loved one?
        This series raises some philosophical questions on what is right and
        what is wrong and it finally depends on one's own perspective.</p>
        <b>Favourite Dialogues: </b> <i>There are no miracles in life, Just the ones you create</i><br><br>
        <i>To kill a criminal, sometimes you have to be a criminal</i><br><br>
        <i>There is only one rule to save your loved ones, that there is no bloody rule</i>
        <p class="card-text"><b><i>#AmazonPrime</i></b></p>
        <p>A closely connected philosophical problem is the "Trolley Problem" which basically doesn't
        have answer but only perspectives.</p>
        <a href="https://www.youtube.com/watch?v=OstwwYcz8nI" class="btn btn-primary">Trailer</a>&nbsp;
        <a href="https://www.youtube.com/watch?v=yg16u_bzjPE" class="btn btn-primary">Trolley Problem</a>
      </div>
    </div>
  </div>
</div>

<br><br>
<h4 class = "ml-4">Old ones</h4>
<div class="row ml-3 mr-3">
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Game of Thrones (English) - <i>(Drama, Fantasy)</i></h5>
        <p class="card-text" style="text-align: justify;">A long saga where many clans fight for the supreme power.
          Very lengthy series to watch. Someone who like wars, politics must watch this.</p>
        <p class="card-text"><b><i>#HBO</i></b></p>
        <a href="https://www.hbo.com/game-of-thrones" class="btn btn-primary">Official Website</a>&nbsp;
        <a href="https://gameofthrones.fandom.com/wiki/Game_of_Thrones_Wiki" class="btn btn-primary">Fandom Website</a>&nbsp;
        <a href="https://www.youtube.com/user/GameofThrones/playlists" class="btn btn-primary">Playlist</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Stranger Things (English) - <i>(Scifi, Mystery)</i></h5>
        <p class="card-text" style="text-align: justify;">Kids in Hawkins observe some strange things in and around and
          believe
          it is associated with the local experiments in the lab. What do they do?</p>
        <p class="card-text"><b><i>#Netflix</i></b></p>
        <a href="https://strangerthings.fandom.com/wiki/Stranger_Things" class="btn btn-primary">Fandom Website</a>&nbsp;
        <a href="https://www.youtube.com/channel/UChmpTxQ0Gp8KEJKsqzeg9Lg/playlists" class="btn btn-primary">Playlist</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">BlackMirror (English) - <i>(Anthology, Dystopian, Tech)</i></h5>
        <p class="card-text" style="text-align: justify;">Technology obsession is bad for Humans is the prime
          concept of the entire series</p>
        <p class="card-text"><b><i>#Netflix</i></b></p>
        <a href="https://black-mirror.fandom.com/wiki/Black_Mirror_Wiki" class="btn btn-primary">Fandom Website</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row ml-3 mr-3">
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">13 Reasons Why (English) - <i>(Social issue, Thriller)</i></h5>
        <p class="card-text" style="text-align: justify;">Hannah Baker, the protagonist dies and leaves recorded
          tapes which contain the reasons for her death. Why and how she dies and what happens next is the rest of the
          series.</p>
        <p class="card-text"><b><i>#Netflix</i></b></p>
        <a href="https://13reasonswhy.fandom.com/wiki/13_Reasons_Why" class="btn btn-primary">Fandom Website</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Steins Gate (Japanese) - <i>(Scifi, Thriller)</i></h5>
        <p class="card-text" style="text-align: justify;">Rintaro Okabe develops a machine which can change
          past, but has some rules. Based on this he sets on a task to protect someone who is gonig to die.</p>
        <p class="card-text"><b><i>#Netflix</i></b></p>
        <a href="https://myanimelist.net/anime/9253/Steins_Gate" class="btn btn-primary">Anime Page</a>&nbsp;
        <a href="https://www.youtube.com/playlist?list=PL-VvAGonZgj0inZsD9PbvDlHkDBK8z2NK" class="btn btn-primary">Playlist</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Death Note (Japanese) - <i>(Mystery, Thriller)</i></h5>
        <p class="card-text" style="text-align: justify;">Light Yagami accidently gets a book "Death Note" which has
          power to kill a person if we write his/her name. What consequences this leads when he starts killing
          criminals by this way.</p>
        <p class="card-text"><b><i>#Netflix</i></b></p>
        <a href="https://myanimelist.net/anime/1535/Death_Note" class="btn btn-primary">Anime Page</a>&nbsp;
        <a href="https://www.youtube.com/watch?v=qekYxar3cO0&list=PL1C63Zf34dUn3ugtkOO2wIL8WVafeYaUK" class="btn btn-primary">
          Playlist</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row ml-3 mr-3">
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Young Sheldon (English) - <i>(Sitcom, Science, Comedy)</i></h5>
        <p class="card-text" style="text-align: justify;">Prequel of Big Bang Theory, revolving around Sheldon Lee
          Cooper,
          a child prodigy and his family. </p>
        <p class="card-text"><b><i>#AmazonPrime</i></b></p>
        <a href="https://bigbangtheory.fandom.com/wiki/Young_Sheldon" class="btn btn-primary">Fandom Website</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dark (German) - <i>(Scifi, Thriller)</i></h5>
        <p class="card-text" style="text-align: justify;">A small kid gets missing in a forest where unknowingy he
          travels to past and sees his past-self.
          What happens in these 2 places, and how people are set to stop this time loop.</p>
        <p class="card-text"><b><i>#Netflix</i></b></p>
        <a href="https://dark-netflix.fandom.com/wiki/Dark_Wiki" class="btn btn-primary">Fandom Wiki</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Kota Factory (Hindi) - <i>(Drama, Comedy)</i></h5>
        <p class="card-text" style="text-align: justify;">Kota, a place in Rajasthan is famous for coaching institutes.
          This depicts the
          difficulties faced by a typical student while preparing for competitive exams.</p>
        <p class="card-text"><b><i>#Youtube #TVF</i></b></p>
        <a href="https://www.youtube.com/watch?v=pNZQ6msbOvM&list=PLf73LrHEe6jw_eGjZX49T2C1V1KZJIyHl"
          class="btn btn-primary">Youtube Link</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row ml-3 mr-3">
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cubicles (Hindi) - <i>(Drama, Comedy)</i></h5>
        <p class="card-text" style="text-align: justify;">This depicts about the life of a software guy,
          dedicating to all software engineers out there.</p>
        <p class="card-text"><b><i>#Youtube #TVF</i></b></p>
        <a href="https://www.youtube.com/watch?v=JbBsqmKclXE&list=PLTB0eCoUXEraMJ3V8BH5iI4lOcciZ-UHI"
          class="btn btn-primary">Youtube Link</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pelli Gola (Telugu) - <i>(Romance, Comedy)</i></h5>
        <p class="card-text" style="text-align: justify;">A comedy series revolving around a couple who are about to
          marriage.
          Captures emotions prevalent during marriages.</p>
        <p class="card-text"><b><i>#ViuIndia</i></b></p>
        <a href="https://www.youtube.com/watch?v=WxCriBIclnI&list=PLNoppEJMkKSrLrSa_dFIDfZwqGftLPgWV"
          class="btn btn-primary">Excerpts/Trailers from Youtube</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Geetha Subramanyam (Telugu) - <i>(Romance, Comedy)</i></h5>
        <p class="card-text" style="text-align: justify;">Beautifully portrays the cute, silly fights between a pair and
          caputures emotions, how they again reunite.</p>
        <p class="card-text"><b><i>#Youtube</i></b></p>
        <a href="https://www.youtube.com/watch?v=VZcz5pGrLq0&list=PLsjHKhL4S0DKNxxjeQ_juogiZsZ6nXGKh"
          class="btn btn-primary">Youtube Link</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row ml-3 mr-3">
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Social (Telugu) - <i>(Social issue, Scifi)</i></h5>
        <p class="card-text" style="text-align: justify;">Portrays a social issue, about hacking and the
          consequences led because of this through a small thriller incident.</p>
        <p class="card-text"><b><i>#ViuIndia</i></b></p>
        <a href="https://www.youtube.com/watch?v=ORQaBRD8tAM&list=PLaTQGGYgCeI9wv5AYSyQaklg3JybLQRsE"
          class="btn btn-primary">Excerpts from Youtube</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">PillA (Telugu) - <i>(Scifi, Thriller)</i></h5>
        <p class="card-text" style="text-align: justify;">The life of a girl changes overnight when she visits a party.
          What happened, How, why and how they resolve what happened is the rest.</p>
        <p class="card-text"><b><i>#ViuIndia</i></b></p>
        <a href="https://www.youtube.com/watch?v=Kcp7Jev9v_o&list=PLNoppEJMkKSqA62CMUPjfDCDqPFfGB3a3"
          class="btn btn-primary">Trailers from Youtube</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Chernobyl (English) - <i>(Catastrophe, Documentary type)</i></h5>
        <p class="card-text" style="text-align: justify;">In 1986, a catastrophy occured in the nuclear power plant of
          Russia. This fiction portrays how it occurred and the aftermath of the incident in a fabulous manner.</p>
        <p class="card-text"><b><i>#HBO</i></b></p>
        <a href="https://cinemorgue.fandom.com/wiki/Chernobyl_(2019_mini-series)" class="btn btn-primary">Fandom
          Website</a>
          <a href="https://www.youtube.com/watch?v=s9APLXM9Ei8" class="btn btn-primary">Trailer</a>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row ml-3 mr-3">
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Harry Potter (English) - <i>(Fantasy, Magical)</i></h5>
        <p class="card-text" style="text-align: justify;">No introduction needed to the world famous Harry Potter
          created by JK
          Rowling.</p>
        <p class="card-text"><b><i>#HBO</i></b></p>
        <a href="https://harrypotter.fandom.com/wiki/Main_Page" class="btn btn-primary">Fandom Website</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sherlock Holmes (English) - <i>(Detective, Thriller)</i></h5>
        <p class="card-text" style="text-align: justify;">A must watch masterpiece created by Sir Authur Conan Doyle
          involving in solving a series of mysteries and murders by one of the greatest detective Sherlock Holmes and
          his friend Watson.</p>
        <p class="card-text"><b><i>#Netflix</i></b></p>
        <a href="https://sherlocked.fandom.com/wiki/Sherlock_Holmes" class="btn btn-primary">Fandom Website</a>
      </div>
    </div>
  </div>
</div>
<br>
